    {{>navBar}}

<div class="chat">
  <div class="contact">
    <h2>Welcome <span id="userName" class="userName"></span></h2>
    <hr />
    <div class="usersConnected">
      <ul id="usersConnected"></ul>
    </div>
  </div>
  <div class="messages">

    <form class="send-msg" id="send-msg">
      <input type="text" name="msg" id="msg" />
      <button>Send</button>
    </form>
    <div class="viewMessages" id="view-msg">

    </div>

  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="js/chat.js"></script>
