<head>
  <link rel="stylesheet" href="styles/checkOut.css" />
</head>
<h1>Poductos Comprados</h1>
<button id="volver">Back home</button>
<div id="productos" class="product_container">
  <div class="cardImg">
    <img class="productImg" id="card_img" src="" alt="Produt img" />
  </div>
  <div class="card_body">
    <h2 class="p_title" id="product_title"></h2>
    <p class="p_description" id="product_description"></p>
    <p class="p_quantity"> Cantidad: <span id="product_quantity"></span> </p>
    <div class="p_price">Precio unitario:
      <span id="product_price"></span>$</div>
  </div>
</div>

<div class="ticket_container">
  <div id="ticket" class="ticket">
    <h2>Codigo de la compra: <span id="code_compra"></span></h2>
    <p>Comprador: <span id="comprador_compra"></span></p>
    <p>Fecha de compra: <span id="fecha_compra"></span></p>
    <p>TOTAL: <span id="total_compra"></span></p>
  </div>
</div>

<h2 class="compra">Gracias por su compra!</h2>