<head>
  <link rel="stylesheet" href="styles/setNewPass.css" />

</head>
<h1 class="title">SET A NEW PASS</h1>
<form class="formPass" id="setPass">
  <input
    class="inputPass"
    type="password"
    placeholder="New password"
    id="newPass"
  />
  <input
    class="inputPass"
    type="password"
    placeholder="Confirm new password"
    id="confirmPass"
  />
  <button class="button-66">Change</button>
</form>
<script src="js/recoveryPass.js"></script>