<head>
  <link rel="stylesheet" href="styles/login.css" />

</head>

<div class="content">

  <div class="titles">
    <h5>Welcome Back</h5>
    <h2>Login your account<span>.</span></h2>

    <div class="login">
      <form id="form_login">
        <input
          type="email"
          class="form__input"
          id="email_login"
          placeholder="Email"
          required="true"
        />
        <label for="name" class="form__label">Email</label>
        <input
          type="password"
          class="form__input"
          id="password_login"
          placeholder="Password"
          required="true"
        />
        <label for="name" class="form__label">Password</label>
        <h3 id="recovery" class="recovery">Forget your password</h3 id="recovery">
        <button class="button-61" role="button">Login</button>

      </form>
      <h3 class="new_user">New user? <a href="/register">Register</a></h3>
      <div>
        <button id="login_github" class="btn_git">Login with github</button>
      </div>
    </div>

  </div>

</div>