<head>
  <title>Pago Cancelado</title>
  <link rel="stylesheet" href="styles/canceledPayment.css" />
</head>

<div class="container">
  <h1>Pago Cancelado</h1>
  <p>Intentalo de nuevo o contacta con su entidad bancaria si persiste el
    problema</p>
  <p>Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en
    contactarnos.</p>
  <a href="https://e-commercecoderhouse-production.up.railway.app/home" id="volverAtras" class="button">Volver al
    Sitio</a>
</div>