<head>
  <title>Pago Satisfactorio</title>
  <link rel="stylesheet" href="styles/succsesPayment.css" />
</head>
<div class="cuerpo">

  <div class="container">
    <h1>Pago Satisfactorio</h1>
    <p>¡Gracias por tu compra!</p>
    <p>Tu pago ha sido procesado satisfactoriamente.</p>
    <p>Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en
      contactarnos.</p>
    <a href="https://e-commercecoderhouse-production.up.railway.app/home" id="volverAtras" class="button">Volver
      al Sitio</a>
  </div>
</div>

<script src="js/paymentSucces.js"></script>