<head>
  <link rel="stylesheet" href="styles/registro.css" />

</head>

<div class="content">

  <div class="titles">
    <h5>Welcome</h5>
    <h2>Create a new account<span>.</span></h2>

    <div class="register">
      <form id="form_register">
        <div class="register_top">
          <input
            type="text"
            class="form__input"
            id="firs_name"
            placeholder="First Name"
            required="true"
          />
          <label for="firs_name" class="form__label">First Name</label>
          <input
            type="text"
            class="form__input"
            id="last_name"
            placeholder="Last Name"
            required="true"
          />
          <label for="last_name" class="form__label">Last Name</label>

        </div>

        <div class="register_bottom">
          <input
            type="number"
            class="form__input"
            id="age"
            placeholder="Age"
            required="true"
          />
          <label for="age" class="form__label">Age</label>
          <input
            type="email"
            class="form__input"
            id="email"
            placeholder="Email"
            required="true"
          />
          <label for="email" class="form__label">Email</label>

          <input
            type="password"
            class="form__input"
            id="password"
            placeholder="Password"
            required="true"
          />
          <label for="password" class="form__label">Password</label>

        </div>
        <button class="button-61" type="submit" role="button">Register</button>

      </form>
      <h3 class="new_user">Have an user?
        <a href="/">Login</a></h3>
    </div>

  </div>

</div>