<h1>Formulario de subida de productos</h1>
<form id="addProductForm">
    <p>Ingresar datos del producto:</p>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="Title">
    </div>
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" placeholder="Category">
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" placeholder="Description">
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" placeholder="Price">
    </div>
    <div>
        <label for="code">Code:</label>
        <input type="text" id="code" placeholder="Code">
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" placeholder="Stock">
    </div>
    <div>
        <button type="submit" id="addProduct">Agregar</button>
    </div>
</form>
</br>
<h2>Lista de productos en tiempo real</h2>
{{#each products}}
    <div id="productsFromServer"></div>
{{/each}}


<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
