<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Toast Error }}
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    {{! SweetAlert }}
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css"
      rel="stylesheet"
    />
    {{! Globals Styles }}
    <link rel="stylesheet" href="styles/index.css" />

    {{! Google fonts  }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Pre entrega clase 30</title>
  </head>
  <body>

    <div>
      {{{body}}}
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"
    ></script>
    <script src="js/socket.js"></script>
    <script src="js/index.js"></script>
    <script src="js/register.js"></script>
    <script src="js/login.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/navBar.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/checkOut.js"></script>

  </body>
</html>