<nav class="navBar">
  <div class="head">
    <a href="/">Coder House</a>
  </div>
  <div id="navegation" class="navigation">
    <a href="/home">List Products</a>
    <a href="/profile">Profile</a>
  </div>
</nav>