<head>
  <link rel="stylesheet" href="styles/navBarAuth.css" />

</head>

<nav class="menu">
  <div class="logo">
    <h1>E-COMMERCE CODER</h1>
  </div>

  <div class="nav">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>

</nav>